/* Coolors Exported Palette - coolors.co/904c77-2c5dd2-061a40-60463b-bdc696 */


//Day Palette
$day-green: #379392;
$day-yellow: #EDAE49;
$day-blue: #2C5DD2;
$day-pink: #B74F6F;
$day-purple: #744FC6;


//Night Palette
$neon-green: #5EFC8D;
$neon-dark-green: #406422;
$neon-green-off: #2c7b1c;

$neon-yellow: #E1C829;

$neon-blue: #2FB5F3;
$neon-dark-blue: #192e5e;
$neon-blue-off: #354d82;

$neon-pink: #FC82C3;
$neon-dark-pink: #5C0860;
$neon-pink-off: #750879;

$neon-purple: #9C95DC;

$neon-black: #1E023F;
$white: #ffffff;
