<div class="container router-container day">
  <div class="main">
    <a [routerLink]=" ['./act'] "
       routerLinkActive="active"
       [routerLinkActiveOptions]= "{exact: true}"
    >
      <img
        class="profile"
        [src]=" 'assets/img/sassy_square.jpg' "
        alt="Cowboy Willy Isto"
      >
    </a>

    <br>
    <h1>Isto</h1> <h1>Barton</h1>

  </div>
  <div class="tagline">
    <p>
      Engineer by day.<br> Actor by night.
    </p>
  </div>
  <div class="links">
    <a href="mailto:istobarton@gmail.com">email</a>
    <a href="https://docs.google.com/document/d/16AUDylQAXch03o_ASd5hE6NTGCn19mIq2NtNA8E4O0k/edit?usp=sharing" target="_blank">resume</a>
    <a href="https://github.com/istobarton" target="_blank">github</a>
    <a href="https://www.linkedin.com/in/istobarton" target="_blank">linkedin</a>
  </div>
</div>
